.wrapper {
  position: relative;
  height: 100vh;
  z-index: 2;
}

.wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../assets/ilustrations/bg1.jpg");
  background-size: cover;
  background-position: top center;
}

