.wrapper {
  position: relative;
  height: 100vh;
  z-index: 2;
}

.wrapper::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-image: url("../assets/ilustrations/bg1.jpg");
  background-size: cover;
  background-position: top center;
}

.initialImage {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  border: 2px solid black;
}

.card_hover {
  transition: transform 0.5s;
}

.card_hover:hover {
  box-shadow: #00000029 0 10px 36px, #0000000f 0 0 0 1px;
  transform: translateY(-10px);
}
